body{
	background-image: url(fotos/ffc_je-m.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
	margin: 0px;
}

.text-center{
	text-align: center;
	color: peru;
	font-size: 40px;
	font-weight: bold;
	padding: 0px;
	height: 10%;
}

.text-center-b{
	text-align: center;
	color: white;
	font-size: 8em;
	font-weight: lighter;
	padding: 0px;
}


button{
	color: #ffff;
}

ul li a{
	color: white !important;
	font-size: 25px;
	width: 10rem;
}

nav{
	justify-content: center !important;
	background-color: rgba(47, 23, 15, 0.9);
	padding: 20px;
	height: 5rem;
}

.image-text{
	justify-content: center;
	float: right;
	padding: 50px;
}

img{
	width: 45rem !important;
    height: 35rem;
}

.text1{
	text-align: center;
	position: absolute;
	top: 68%;
	left: 20%;
	background-color: mistyrose;
	padding: 30px;
	width: 35%;
	border-radius: 5px;
}

.texto{
	font-size: 15px;
	font-weight: bold;
}

.texta{
	font-size: 30px;
	font-weight: lighter;
}

.texti{
	text-align: center;
	background-color: #e6a756;
	position: absolute;
	top: 90%;
	left: 40%;
	width: 40%;
	padding: 30px;
	border-radius: 5px;
	font-weight: bold;

}

.section{
	background-color: rgba(230, 167, 86, 0.9);
	padding: 50px;
	clear: both;
}

.text{	
	text-align: center;
	background-color:  mistyrose;
	padding: 60px;
	width: 70%;
	border: solid 10px;
	border-radius: 10px;
	border-color:  rgba(230, 167, 86, 0.9);
}

.sec1{
	color: black;
	font-size: 10px;
	font-weight: bold;
}

.sec2{
	color: black;
	font-size: 40px;
	font-weight: lighter;
	

}

#fin{
	padding: 100px !important;
}

.partf{
	background-color: rgba(47, 23, 15, 0.9);
	padding: 52px;
	margin-top: 100px;
}

.textf{
	text-align: center;
	color: #fff;
}