body{
	background-image: url(foto/ffc_je-m.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: auto;
	margin: 0px;
	height: auto;
}

.text-center{
	text-align: center;
	color: peru;
	font-size: 40px;
	font-weight: bold;
	padding: 0px;
	height: 10%;
}

.text-center-b{
	text-align: center;
	color: white;
	font-size: 8em;
	font-weight: lighter;
	padding: 0px;
}


button{
	color: #ffff;
}

ul li a{
	color: white !important;
	font-size: 25px;
	width: 10rem;
}

nav{
	justify-content: center !important;
	background-color: rgba(47, 23, 15, 0.9);
	padding: 20px;
	height: 5rem;
}

#section{
	text-align: center;
	padding-top: 100px;
	width: 100%;
}

.row{
	background-color: rgba(230, 167, 86, 0.9);
	text-align: center;
	padding: 6rem;
}

.tpart{
	background-color:  mistyrose;
	width: 65%;
	border: solid 10px;
	border-color: rgba(230, 167, 86, 0.9);
	border-radius: 20px;
}

.sec1{
	text-align: center;
	justify-content: space-around;
	padding: 20px;
}

.sec2{
	text-align: center;
	padding: 30px;
}

.pe1{
   padding: 10px;
   width: 90%;
   display: flex;
   justify-content:space-between;
   margin: auto;
}

.contenu1{
	width: 90%;
	border: solid 0px;
	border-radius: 100px;
	height: 1px;
	background-color: rgba(230, 167, 86, 0.9);
	margin: auto;
}

.pe2{
   padding: 10px;
   width: 90%;
   display: flex;
   justify-content:space-between;
   margin: auto;
   color: rgba(230, 167, 86, 0.9);
}

.contenu2{
	width: 90%;
	border: solid 0px;
	border-radius: 100px;
	height: 1px;
	background-color: rgba(230, 167, 86, 0.9);
	margin: auto;
}

.pe3{
    padding: 10px;
   width: 90%;
   display: flex;
   justify-content:space-between;
   margin: auto;
}

.contenu3{
	width: 90%;
	border: solid 0px;
	border-radius: 100px;
	height: 1px;
	background-color: rgba(230, 167, 86, 0.9);
	margin: auto;
}

.pe4{
   padding: 10px;
   width: 90%;
   display: flex;
   justify-content:space-between;
   margin: auto;
}

.contenu4{
	width: 90%;
	border: solid 0px;
	border-radius: 100px;
	height: 1px;
	background-color: rgba(230, 167, 86, 0.9);
	margin: auto;
}

.pe5{
   padding: 10px;
   width: 90%;
   display: flex;
   justify-content:space-between;
   margin: auto;
}

.contenu5{
	width: 90%;
	border: solid 0px;
	border-radius: 100px;
	height: 1px;
	background-color: rgba(230, 167, 86, 0.9);
	margin: auto;
}

.pe6{
    padding: 10px;
   width: 90%;
   display: flex;
   justify-content:space-between;
   margin: auto;
}

.contenu6{
	width: 90%;
	border: solid 0px;
	border-radius: 100px;
	height: 1px;
	background-color: rgba(230, 167, 86, 0.9);
	margin: auto;
}

.sec3{
	text-align: center;
	padding: 30px;
}

.sec4{
	text-align: center;
	padding: 30px;
}

#section2{
	text-align: center;
	padding-top: 100px;
}

.image-text{
	text-align: center;
	padding: 50px;
}

img{
	width: 70rem !important;
    height: 28rem;
}

.text1{
	text-align: left;
	position: relative;
	top: -80px !important;
	background-color: mistyrose;
	padding: 1rem;
	width: 50%;
	margin: auto;
	border-radius: 5px;
}

.texto{
	font-size: 10px;
	font-weight: bold;
}

.texta{
	font-size: 35px;
	font-weight: lighter;
}

#fin{
	padding: 500px !important;
}

.part{
	background-color: rgba(47, 23, 15, 0.9);
	padding: 30px;
	margin: 0px;
	text-align: center;
	color: #ffff !important;
}

.textf{
	text-align: center;
	color: #fff;
}
