body{
	background-image: url(foto/ffc_je-m.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
	margin: 0px;
	height: auto;
}

.text-center{
	text-align: center;
	color: peru;
	font-size: 40px;
	font-weight: bold;
	padding: 0px;
	height: 10%;
}

.text-center-b{
	text-align: center;
	color: white;
	font-size: 8em;
	font-weight: lighter;
	padding: 0px;
}


button{
	color: #ffff;
}

ul li a{
	color: white !important;
	font-size: 25px;
	width: 10rem;
}

nav{
	justify-content: center !important;
	background-color: rgba(47, 23, 15, 0.9);
	padding: 20px;
	height: 5rem;
}


.image-text{
	text-align: center;
	padding: 50px;
}

img{
	width: 78rem !important;
    height: 30rem;
}

.text1{
	text-align: left;
	position: relative;
	top: -80px;
	background-color: mistyrose;
	padding: 35px;
	margin: auto;
	width: 60%;
	border-radius: 5px;
}

.texto{
	font-size: 15px;
	font-weight: bold;
}

.texta{
	font-size: 50px;
	font-weight: lighter;
}

#fin{
	padding: 60px !important;
}

.partf{
	background-color: rgba(47, 23, 15, 0.9);
	padding: 52px;
	margin: 0px;
}

.textf{
	text-align: center;
	color: #fff;
}