body{
	background-image: url(foto/ffc_je-m.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: auto;
	margin: 0px;
	height: auto;
}

.text-center{
	text-align: center;
	color: peru;
	font-size: 40px;
	font-weight: bold;
	padding: 0px;
	height: 10%;
}

.text-center-b{
	text-align: center;
	color: white;
	font-size: 8em;
	font-weight: lighter;
	padding: 0px;
}


button{
	color: #ffff;
}

ul li a{
	color: white !important;
	font-size: 25px;
	width: 10rem;
}

nav{
	justify-content: center !important;
	background-color: rgba(47, 23, 15, 0.9);
	padding: 20px;
	height: 5rem;
}

.image-text{
	text-align: center;
	padding: 50px;
}

img{
	width: 40rem !important;
    height: 35rem;
}

.text1{
	position: absolute;
	top: 50% !important;
	right: 15% !important;
	background-color: mistyrose;
	padding: 1rem;
	width: 25%;
	border-radius: 5px;
}

.texto{
	font-size: 10px;
	font-weight: bold;
}

.texta{
	font-size: 20px;
	font-weight: lighter;
}

.text2{
	position: absolute;
	top: 125%;
	left: 15%;
	background-color: mistyrose;
	padding: 12px;
	width: 40%;
	border-radius: 5px;
}


.image-text{
	text-align: center;
	padding: 50px;
}

img{
	width: 40rem !important;
    height: 35rem;
}

.text1{
	position: absolute;
	top: 50% !important;
	right: 15% !important;
	background-color: mistyrose;
	padding: 1rem;
	width: 25%;
	border-radius: 5px;
}

.texto{
	font-size: 10px;
	font-weight: bold;
}

.texta{
	font-size: 20px;
	font-weight: lighter;
}

.text2{
	position: absolute;
	top: 125%;
	left: 15%;
	background-color: mistyrose;
	padding: 12px;
	width: 40%;
	border-radius: 5px;
}


.image-text2{
	text-align: center;
	padding: 50px;
}

img{
	padding: 50px !important;
	width: 40rem !important;
    height: 35rem;
}

.text01{
	position: absolute;
	top: 158% !important;
	left: 15% !important;
	background-color: mistyrose;
	padding: 1rem;
	width: 25%;
	border-radius: 5px;
}

.text0o{
	font-size: 10px;
	font-weight: bold;
}

.text0a{
	font-size: 20px;
	font-weight: lighter;
}

.text02{
	position: absolute;
	top: 230%;
	right: 10%;
	background-color: mistyrose;
	padding: 12px;
	width: 40%;
	border-radius: 5px;
}


.image-text3{
	text-align: center;
	padding: 50px;
}

img{
	padding: 60px !important;
	width: 40rem !important;
    height: 35rem;
}

.text001{
	position: absolute;
	top: 260% !important;
	right: 15% !important;
	background-color: mistyrose;
	padding: 1rem;
	width: 25%;
	border-radius: 5px;
}

.text00o{
	font-size: 10px;
	font-weight: bold;
}

.text00a{
	font-size: 20px;
	font-weight: lighter;
}

.text002{
	position: relative;
	top: -60px;
	background-color: mistyrose;
	padding: 12px;
	width: 40%;
	border-radius: 5px;
}

#fin{
	padding: 100px !important;
}

.partf{
	background-color: rgba(47, 23, 15, 0.9);
	padding: 52px;
	margin: 0px;
}

.textf{
	text-align: center;
	color: #fff;
}